<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="jeongyoojin">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:image" content="img/hdtelecom_thumb.png">

    <title>HDTTELECOM</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!--FAVICON-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <!--ICON FONT-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="wrap">
    <div id="header" class="fixed-header">
        <div class="gnb-overlay-bg"></div>
        <div id="headerInnerWrap">
            <!-- ****************** HEADER TOP ********************** -->
            <div id="headerInner" class="clearfix">
                <h1 class="logo"><a href="/" title="메인으로">HDTelecom</a></h1>
                <div class="header-util-box">
                    <!-- 외국어선택 -->
                    <div class="header-lang">
                        <a href="#" class="active">KOR</a>
                        <a href="#">ENG</a>
                    </div>
                </div>
            </div>

            <!-- ****************** GNB ********************** -->
            <!-- GNB PC ( Less than 4 menus ) -->
            <nav id="gnb" class="each-menu">
                <ul class="clearfix">
                    <li>
                        <a href="/company_intro">회사소개</a>
                        <div class="gnb-2dep">
                            <ul>
                                <li><a href="/company_intro"><span>인사말</span></a></li>
                                <li><a href="/company_summary"><span>개요</span></a></li>
                                <!--<li><a href="company_history.html"><span>연혁</span></a></li>-->
                                <li><a href="/company_org"><span>조직도</span></a></li>
                                <li><a href="/company_talent/1"><span>인재상</span></a></li>
                                <li><a href="/company_ipr"><span>지적재산권</span></a></li>
                                <li><a href="/company_map"><span>오시는 길</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="pro_ott_wilfon_neo.html">Product</a>
                        <div class="gnb-2dep">
                            <ul>
                                <li><a href="pro_ott_wilfon_neo.html"><span>OTT Box</span></a></li>
                                <li><a href="/pro_720homecctv"><span>720 Home cctv</span></a></li>
                                <li><a href="/pro_disital_board"><span>Disital Board</span></a></li>
                                <li><a href="pro_transparent_screen.html"><span>투명스크린</span></a></li>
                                <!--<li><a href="pro_voipphone.html"><span>VoIP phone</span></a></li>-->
                                <!--<li><a href="pro_vboard.html"><span>V BOARD</span></a></li>-->
                                <!--<li><a href="pro_digitalboard.html"><span>Digital Board</span></a></li>-->
                                <!--<li><a href="pro_rfspeaker.html"><span>RF Speaker</span></a></li>
                                <li><a href="pro_4kencoder.html"><span>4K Encoder</span></a></li>
                                <li><a href="pro_ipgateway.html"><span>IP Gateway</span></a></li>
                                <li><a href="pro_rfmic.html"><span>RF MIC</span></a></li>-->
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/sol_iptv">Solution</a>
                        <div class="gnb-2dep">
                            <ul>
                                <li><a href="/sol_iptv"><span>IPTV</span></a></li>
                                <li><a href="/sol_appstore"><span>APP Store</span></a></li>
                                <li><a href="/sol_karaoke"><span>Karaoke</span></a></li>
                                <li><a href="/sol_rtc"><span>Web RTC</span></a></li>
                                <li><a href="/sol_ai"><span>AI System</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/data/1">자료실</a>
                        <div class="gnb-2dep">
                            <ul>
                                <li><a href="/data/1"><span>다운로드</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/contact">고객센터</a>
                        <div class="gnb-2dep">
                            <ul>
                                <li><a href="/contact"><span>문의하기</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- GNB Mobile -->
        <button class="nav-open-btn">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </button>
        <div class="gnb-overlay-bg-m"></div>
        <nav id="gnbM">
            <ul id="navigation">
                <li>
                    <a href="/">회사소개</a>
                    <ul class="gnb-2dep">
                        <li><a href="/company_intro"><span>인사말</span></a></li>
                        <li><a href="/company_summary"><span>개요</span></a></li>
                        <!--<li><a href="company_history.html"><span>연혁</span></a></li>-->
                        <li><a href="/company_org"><span>조직도</span></a></li>
                        <li><a href="/company_talent/1"><span>인재상</span></a></li>
                        <li><a href="/company_ipr"><span>지적재산권</span></a></li>
                        <li><a href="/company_map"><span>오시는 길</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="pro_ott_wilfon_neo.html">Product</a>
                    <ul class="gnb-2dep">
                        <li><a href="pro_ott_wilfon_neo.html"><span>OTT Box</span></a></li>
                        <li><a href="/pro_720homecctv"><span>720 Home cctv</span></a></li>
                        <li><a href="/pro_disital_board"><span>Disital Board</span></a></li>
                        <li><a href="pro_transparent_screen.html"><span>투명스크린</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Solution</a>
                    <ul class="gnb-2dep">
                        <li><a href="/sol_iptv"><span>IPTV</span></a></li>
                        <li><a href="/sol_appstore"><span>APP Store</span></a></li>
                        <li><a href="/sol_karaoke"><span>Karaoke</span></a></li>
                        <li><a href="/sol_rtc"><span>Web RTC</span></a></li>
                        <li><a href="/sol_ai"><span>AI System</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/data/1">자료실</a>
                    <ul class="gnb-2dep">
                        <li><a href="/data/1"><span>다운로드</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/contact">고객센터</a>
                    <ul class="gnb-2dep">
                        <li><a href="/contact"><span>문의하기</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- //header -->

    <div class="banner">
        <div class="banner-img"></div>
        <h1>OTT Box</h1>
    </div>

    <div class="sub-nav">
        <div class="container">
            <ul>
                <li><a href="pro_ott_wilfon_neo.html">wilfon NEO</a></li>
                <li><a href="pro_ott_wilfon_lite.html">wilfon LITE</a></li>
                <li class="active"><a href="pro_ott_kbox.html">Willfon K</a></li>
                <li><a href="pro_ott_stickpc.html">Stick PC</a></li>
            </ul>
        </div>
    </div>

    <div class="contents">
        <div class="container plpr80">
            <h2>Willfon K</h2>
            <br>

            <div class="product_img">
                <img src="img/kbox.png" alt="kbox" class="img-fluid">
            </div>

            <br>
            <br>

            <h4>Product Spec</h4>
            <br>

            <div class="table-responsive hdt-tb text-left">
                <table class="table table-sm table-bordered">
                    <thead class="bg-light">
                    <tr>
                        <th colspan="2">amlogic M8 4-core soc key features</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>GPU</td>
                        <td>Quad-Core Mali-450 at 600MHz+</td>
                    </tr>
                    <tr>
                        <td>FLASH</td>
                        <td>8GB NAND FLASH</td>
                    </tr>
                    <tr>
                        <td>SDRAM</td>
                        <td>1GB DDR3</td>
                    </tr>
                    </tbody>

                    <thead class="bg-light">
                    <tr>
                        <th colspan="2">Power Supply Specifications</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Power Supply</td>
                        <td>DC 5V/2A</td>
                    </tr>
                    <tr>
                        <td>Power Indicator (LED)</td>
                        <td>Power ON :blue; Standby :Red</td>
                    </tr>
                    </tbody>

                    <thead class="bg-light">
                    <tr>
                        <th colspan="2">Main Features</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>OS</td>
                        <td>Android 4.4</td>
                    </tr>
                    <tr>
                        <td>WIFI</td>
                        <td>Built in WiFi 2.4GHz</td>
                    </tr>
                    <tr>
                        <td>3D</td>
                        <td>Hardward 3D graphics acceleration</td>
                    </tr>
                    <tr>
                        <td>Support Decoder format</td>
                        <td>HD MPEG1/2/4,H.265, HD AVC/VC-1,RM/RMVB, Xvid/DivX3/4/5/6 ,RealVideo8/9/10</td>
                    </tr>
                    <tr>
                        <td>Support Media format</td>
                        <td>Avi/Rm/Rmvb/Ts/Vob/Mkv/Mov/ISO/wmv/asf/flv/dat/mpg/mpeg</td>
                    </tr>
                    <tr>
                        <td>Support Music format</td>
                        <td>MP3/WMA/AAC/WAV/OGG/AC3/DDP/TrueHD/DTS/DTS/HD/FLAC/APE</td>
                    </tr>
                    <tr>
                        <td>Support Photo format</td>
                        <td>HD JPEG/BMP/GIF/PNG/TIFF</td>
                    </tr>
                    <tr>
                        <td>USB host</td>
                        <td>4 High speed USB 2.0,support U DISK and USB HDD</td>
                    </tr>
                    <tr>
                        <td>Card reader</td>
                        <td>SD/SDHC/MMC cards</td>
                    </tr>
                    <tr>
                        <td>HDD file system</td>
                        <td>FAT16/FAT32/NTFS</td>
                    </tr>
                    <tr>
                        <td>Support Subtitle</td>
                        <td>SRT/SMI/SUB/SSA/IDX+USB</td>
                    </tr>
                    <tr>
                        <td>High Difinition video output</td>
                        <td>SD/HD max.1920x1080 pixel</td>
                    </tr>
                    <tr>
                        <td>OSD type of languages</td>
                        <td>English/French/German/Spanish/Italian/ etc multilateral languages</td>
                    </tr>
                    <tr>
                        <td>LAN</td>
                        <td>Ethernet:10/100M, standard RJ-45</td>
                    </tr>
                    <tr>
                        <td>Wireless</td>
                        <td>Built in WiFi</td>
                    </tr>
                    <tr>
                        <td>Mouse/ Keyboard</td>
                        <td>Support mouse and keyboard via USB;Support 2.4GHz wireless mouse and keyboard via 2.4GHz USB
                            dongle
                        </td>
                    </tr>
                    <tr>
                        <td>HDMI</td>
                        <td>HDMI 1.4 up to 1080p</td>
                    </tr>
                    <tr>
                        <td>1080P</td>
                        <td>Support</td>
                    </tr>
                    <tr>
                        <td>AV</td>
                        <td>Support</td>
                    </tr>
                    <tr>
                        <td>SPDIF/IEC958</td>
                        <td>Coaxial</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <br>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-2">

                </div>
                <div class="col-12 col-md-10">
                    <p class="">서울특별시 구로구 디지털로31길 41 이앤씨벤처드림타워6차 708호</p>
                    <ul>
                        <li>대표자: 이희대</li>
                        <li> | </li>
                        <li></li>
                        <li>사업자등록번호: 220-88-30372</li>
                        <li> | </li>
                        <li>전화: <a href="tel:070-7416-7890">070-7416-7890</a></li>
                        <li> | </li>
                        <li>팩스: 02-6008-8107</li>
                        <li> | </li>
                        <li><a href="mailto:help@hdtel.biz">help@hdtel.biz</a></li>
                    </ul>
                    <small>Copyright ⓒ hdtelecom Corp. All rights reserved.</small>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="scroll-top-btn" href="#"></a>


<!--script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/nav.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>